/* .submit {
  background: #234465;
  color: #fff;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  border: none;
  border: 2px solid white;
  margin: 10px;
  cursor: pointer;
}

.submit:hover{
  background-color: #fff;
  border: 2px solid #234465;
  color: #234465;
  font-style: italic;
} */

.btn{
  background: #234465;
  color: #fff;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  border: none;
  border: 2px solid white;
  /* margin: 10px; */
  cursor: pointer;


}

.btn:hover {
  background-color: #fff;
  border: 2px solid #234465;
  color: #234465;
  font-style: italic;
}

.aside{
  background: none!important;
  border: none;
  display: block;
  margin-left: 40%;
  height: 3vh;
  padding-top: 2px;
  color: #fff;
  cursor: pointer;
}