@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie- Flower', cursive;
}

.app {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 80%;
    min-height: 77vh;
    /* height: 89.5vh; */
    margin: auto;
    margin-top: 15vh;
    padding: 0.5%;
    /* border: 1px solid purple; */
    background-color: #0db2ff;
    margin-bottom: 0.1%;
    display: flex;
    
    
}

.inner-container {
  display: inline-block;
  width: 83%;
  height: auto;
  /* border:1px solid blue; */
  /* background-image: url('https://c.pxhere.com/photos/43/0e/background_texture_cracks_soil_ground_drought_mud_design-1057869.jpg!d'); */
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}