/* 
.container {
  width: 100%;
  height: auto;
  border: 1px solid #234465;
  margin-bottom: 3%;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
*/

/* .displayNone{
  display: none;
} */
.opacity{
  display: none !important;
}

/* .inputBuy{
  width: 80px;
  height: 30px;
  text-align: center;
} */
.buttonBuy{
  width: 50px;
  height: 34px;
}
.divBuy{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.buttonInfo{
  width: 100px;
  height: 50px;
}
.unitImg{
  /* display: block; */
  cursor: pointer;
}

h3{
  text-align: center;
  margin: auto;
}
.container {
  padding: 20px;
  border: 2px solid #dddddd;
} 

table {
  
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* table-layout: auto; */

}

.info{
  width: 100%;  
}

/* .moreInfo{
  display: inline-block; 
  width: 50%;  
  
} */

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  /* height: 35px; */
  padding: 8px;
}
