/* 
.container {
  width: 100%;
  height: auto;
  border: 1px solid #234465;
  margin-bottom: 3%;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
*/


.container {
  padding: 20px;
  border: 2px solid #dddddd;
} 

table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;  
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.inputBuy{
   width: 50%;
   margin-left: 20%;
}
