.header-link {
  color: white;
  text-decoration: none;
  
}


.header-list-item, .footer-list-item {
  display: inline-block;
  /* height: auto; */
  cursor: pointer;
  padding: 0.5%;
  /* text-align: center; */
  /* vertical-align: middle; */
  margin: auto 0;
  
}

.header-list-item:not(:first-child) {
  padding: 10px;
  /* margin-top: 7px; */
  border-top: 2px solid #ffa000;
  border-bottom: 2px solid #ffa000;
}

.header-list-item:hover {
  border-top: none;
  border-bottom: none;
  /* border-bottom: 2px solid #ffa000; */
  font-weight: bold;
}



/* footer */
.footer-link {
  color: #234465;
  text-decoration: none;
}


.footer-list-item:nth-child(1) {
  margin-left: 1%;
}


.footer-list-item:not(:last-child) {
  padding: 2%;
  margin-top: 1.5%;
  border-bottom: 2px solid #234465;
}

.footer-list-item:hover {
  border-bottom: none;
  border-top: 2px solid #234465;
  font-weight: bold;
}


/* aside */

.aside-list-item {
  display: block;
  width: 98%;
  /* border-left: 2px solid #234465;
  border-right: 2px solid #234465; */
  margin-top: 8%;
  height: 5vh;
 
}

.aside-link {
  padding-left: 30%;
  color: #fff;
  text-align: left;
  text-decoration: none;
  padding-top: 5px;
  height: 60%;
  display: block;
  
}

.aside-list-item:hover {
  border-left: none;
  border-right: none;
  font-weight: bold;
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
  color: #ffa000;
}



/* subtypeAside */


.subtypeAside-list-item{
  display: block;
  margin-left: 40%;
  height: 3vh;
  padding-top: 2px;
  color: #fff;
  cursor: pointer;
}
.subtypeAside-link {
  
  color: #234465;
  text-align: left;
  text-decoration: none;
  padding-top: 5px;
  height: 60%;
  display: block;
}

.subtypeAside-list-item:hover {
  border-left: none;
  border-right: none;
  font-weight: bold;
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
  color: #ffa000;
}
/* section */
/* 
.section-list-item {
  display: block;
  width: 98%;
  margin-left: 30px;
  height: 3vh;
  padding-top: 2px;
  
}

.section-link {
  padding-left: 40%;
  color: #234465;
  text-align: left;
  text-decoration: none;
  padding-top: 5px;
  display: block;
}

.section-list-item:hover {
  font-weight: bold;
  color: #ffa000;
} */
